################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MechanicalWorkshopp/FileContentIndex/2fb2b8dc-6958-425a-a193-93a2bc254cec.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/3199523a-4817-40a0-a771-b3c3b694c711.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/4201832e-972a-4a0e-8a1b-5f5cf74afb27.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/4894c3bc-f483-409a-a9dc-8c148e804e78.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/69daaa9e-c62c-48ce-89a3-8d07dca82a2c.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/6efe2465-3c18-4514-85ce-e28e13e224d6.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/8eedf2b2-028b-48f8-8ea7-6a139f484157.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/9011e7f6-afc5-433d-899f-0d1b51289c84.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/a00e504e-9782-42b4-8543-5a7e4c59b28f.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/eeb55728-405b-4194-b442-f67e2e2dfeec.vsidx
/MechanicalWorkshopp/bin/Debug/net8.0/carDB.txt
/MechanicalWorkshopp/bin/Debug/net8.0/GearDB.txt
/MechanicalWorkshopp/bin/Debug/net8.0/mechanicalServicesDB.txt
/MechanicalWorkshopp/bin/Debug/net8.0/MechanicalWorkshopp.dll
/MechanicalWorkshopp/bin/Debug/net8.0/MechanicalWorkshopp.exe
/MechanicalWorkshopp/bin/Debug/net8.0/MechanicalWorkshopp.pdb
/MechanicalWorkshopp/obj/Debug/net8.0/ref/MechanicalWorkshopp.dll
/MechanicalWorkshopp/obj/Debug/net8.0/refint/MechanicalWorkshopp.dll
/MechanicalWorkshopp/obj/MechanicalWorkshopp.csproj.nuget.dgspec.json
/MechanicalWorkshopp/obj/MechanicalWorkshopp.csproj.nuget.g.props
/MechanicalWorkshopp/obj/project.assets.json
/MechanicalWorkshopp/obj/project.nuget.cache
/.vs/MechanicalWorkshopp/v17/DocumentLayout.json
/.vs/MechanicalWorkshopp/v17/.suo
*.cache
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.GeneratedMSBuildEditorConfig.editorconfig
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.AssemblyInfo.cs
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.csproj.FileListAbsolute.txt
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.dll
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.pdb
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.sourcelink.json
/MechanicalWorkshopp/obj/Debug/net8.0/apphost.exe
/.vs/ProjectEvaluation/mechanicalworkshopp.metadata.v8.bin
/.vs/ProjectEvaluation/mechanicalworkshopp.projects.v8.bin
/.vs/ProjectEvaluation/mechanicalworkshopp.strings.v8.bin
/.vs/MechanicalWorkshopp/DesignTimeBuild/.dtbcache.v2
/.vs/MechanicalWorkshopp/v17/.futdcache.v2
/.vs/MechanicalWorkshopp/FileContentIndex/bd6ea487-3248-4610-8421-9451c871fb6b.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/befec3b7-6294-44a3-8501-6bcb162f6848.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/e95bd2e1-7192-4bb0-9c53-4264e209d67d.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/f74ff4b3-ac4d-40cc-acff-a7042900536d.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/ff20e4c6-89d5-4084-971b-8ce62ebdbb13.vsidx
*.wsuo
/.vs/MechanicalWorkshopp/v17/.suo
/MechanicalWorkshopp/bin/Debug/net8.0/MechanicalWorkshopp.dll
/MechanicalWorkshopp/bin/Debug/net8.0/MechanicalWorkshopp.exe
/MechanicalWorkshopp/bin/Debug/net8.0/MechanicalWorkshopp.pdb
/MechanicalWorkshopp/obj/Debug/net8.0/ref/MechanicalWorkshopp.dll
/MechanicalWorkshopp/obj/Debug/net8.0/refint/MechanicalWorkshopp.dll
/MechanicalWorkshopp/obj/Debug/net8.0/apphost.exe
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.AssemblyInfo.cs
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.AssemblyInfoInputs.cache
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.dll
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.pdb
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.sourcelink.json
/.vs/ProjectEvaluation/mechanicalworkshopp.metadata.v9.bin
/.vs/ProjectEvaluation/mechanicalworkshopp.projects.v9.bin
/.vs/ProjectEvaluation/mechanicalworkshopp.strings.v9.bin
/.vs/MechanicalWorkshopp/FileContentIndex/eb2abe41-b4f7-496c-a66f-e73e5bf4c95f.vsidx
