################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MechanicalWorkshopp/FileContentIndex/2fb2b8dc-6958-425a-a193-93a2bc254cec.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/3199523a-4817-40a0-a771-b3c3b694c711.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/4201832e-972a-4a0e-8a1b-5f5cf74afb27.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/4894c3bc-f483-409a-a9dc-8c148e804e78.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/69daaa9e-c62c-48ce-89a3-8d07dca82a2c.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/6efe2465-3c18-4514-85ce-e28e13e224d6.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/8eedf2b2-028b-48f8-8ea7-6a139f484157.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/9011e7f6-afc5-433d-899f-0d1b51289c84.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/a00e504e-9782-42b4-8543-5a7e4c59b28f.vsidx
/.vs/MechanicalWorkshopp/FileContentIndex/eeb55728-405b-4194-b442-f67e2e2dfeec.vsidx
/MechanicalWorkshopp/bin/Debug/net8.0/carDB.txt
/MechanicalWorkshopp/bin/Debug/net8.0/GearDB.txt
/MechanicalWorkshopp/bin/Debug/net8.0/mechanicalServicesDB.txt
/MechanicalWorkshopp/bin/Debug/net8.0/MechanicalWorkshopp.dll
/MechanicalWorkshopp/bin/Debug/net8.0/MechanicalWorkshopp.exe
/MechanicalWorkshopp/bin/Debug/net8.0/MechanicalWorkshopp.pdb
/MechanicalWorkshopp/obj/Debug/net8.0/ref/MechanicalWorkshopp.dll
/MechanicalWorkshopp/obj/Debug/net8.0/refint/MechanicalWorkshopp.dll
/MechanicalWorkshopp/obj/MechanicalWorkshopp.csproj.nuget.dgspec.json
/MechanicalWorkshopp/obj/MechanicalWorkshopp.csproj.nuget.g.props
/MechanicalWorkshopp/obj/project.assets.json
/MechanicalWorkshopp/obj/project.nuget.cache
/.vs/MechanicalWorkshopp/v17/DocumentLayout.json
/.vs/MechanicalWorkshopp/v17/.suo
*.cache
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.GeneratedMSBuildEditorConfig.editorconfig
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.AssemblyInfo.cs
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.csproj.FileListAbsolute.txt
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.dll
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.pdb
/MechanicalWorkshopp/obj/Debug/net8.0/MechanicalWorkshopp.sourcelink.json
/MechanicalWorkshopp/obj/Debug/net8.0/apphost.exe
